body{
    background: aqua;
    font-family: sans-serif;
}

p span{
    border: 2px solid black;
    font-size: 2em;
    font-weight:bolder;
}
p{
    margin-top:30px;
}

table, th, td{
    border:2px solid red;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

div#zapatilla{
    border: 2px solid red;
    background-color: whitesmoke;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
}

nav ul li,a{
    text-align: center;
    list-style-type: none;    
    text-decoration: none;
}